* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-header {
  text-align: center;
  background-image: linear-gradient(to right, white 30%, rgba(0, 0, 248, 0.3));
}

.main-header__title {
  font-size: 3rem;
  width: 80%;
}

.results__section-img img {
  display: block;
  width: 28rem;
  margin: 0 auto;
}
