@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat&display=swap");

$font-weight: (
  main: 400,
  heading: 600,
);

$colors: (
  main: black,
  secondary: blue,
  container-background-color: white,
  background-color: rgba(190, 231, 247, 0.2),
  article-text: lighten(black, 60%),
);
$font-size: (
  main: 1.2rem,
  heading: 3rem,
  sub-heading: 1.6rem,
);
$container-border-radius: 25px;

.hidden {
  display: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
  font-weight: 400;
}
body {
  background-color: map-get($map: $colors, $key: background-color);
}
.main-header {
  display: flex;
  flex: {
    direction: column;
  }
  align-items: center;
  justify-content: space-between;
  text-align: center;

  background-image: linear-gradient(to right, white 30%, rgba(0, 0, 248, 0.3));
  border: 2px solid white;
  border-radius: 0 0 5% 5%;
  padding: 3rem 1rem 12rem;
  border: {
    width: 2px;
    style: solid;
    radius: 0 0 $container-border-radius $container-border-radius;
  }

  img {
    padding-bottom: 2rem;
    width: 3rem;
  }
}
.main-header__form-header {
  font-weight: map-get($font-weight, heading);
}
.main-header__title {
  font-size: map-get($map: $font-size, $key: heading);
  font-weight: map-get($map: $font-weight, $key: heading);
  padding-bottom: 2rem;
  width: 80%;
}
.main-header__content {
  font-size: map-get($map: $font-size, $key: main);
}

.main-header__form--container {
  border: 2px solid white;
  border-radius: $container-border-radius;
  position: relative;
  bottom: 3rem;
  background-color: map-get($map: $colors, $key: container-background-color);
  padding: 4rem;
  padding-bottom: 6rem;
  width: 95%;
  margin: 0 auto;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  button {
    display: inline-block;
    text-align: center;
    margin-top: 1rem;
    background-color: map-get($map: $colors, $key: secondary);
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px black;
  }
  button:active,
  button:hover {
    background-color: white;
    color: map-get($colors, secondary);
  }
}
.main-header__results--button {
  text-align: center;
}
form {
  .main-header__form--measurement {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
  }
}
.main-header__form--input-label {
  display: inline-block;
  color: map-get($map: $colors, $key: secondary);
  font-weight: map-get($map: $font-weight, $key: heading);
}
.metric label,
.imperial label {
  font-weight: map-get($map: $font-weight, $key: heading);
}

.main-form__height label,
.main-form__weight label {
  display: block;
  color: map-get($map: $colors, $key: article-text);
  font-size: map-get($map: $font-size, $key: main) * 0.7;
}
.main-form__height input,
.main-form__weight input {
  outline: none;
  border: none;
  padding: 0.5rem;
  font-weight: map-get($map: $font-weight, $key: heading);
}
.main-form__input-outline {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}
.main-header__form-header {
  padding-bottom: 1rem;
}

.main-header__results--content {
  color: white;
  background-color: map-get($map: $colors, $key: secondary);
  border-radius: $container-border-radius;
  padding: 1rem;
  margin-top: 1rem;
}
.main-header__results--title,
.main-header__results--answer,
.main-header__results--explanation {
  margin: 0.5rem auto;
}
.results__section-img img {
  display: block;
  width: 28rem;
  margin: 5rem auto;
}
.article-text {
  color: map-get($map: $colors, $key: article-text);
}
.results__content {
  padding: 0 2rem 3rem 1rem;
  h3 {
    font-size: map-get($map: $font-size, $key: sub-heading);
    font-weight: map-get($map: $font-weight, $key: heading);
    margin: 1rem 0;
  }
}
.recommendations {
  margin: 1rem;
}
.recommendations__container {
  //   padding: 0 1rem;
  padding-bottom: 2rem;
  img {
    margin-bottom: 1rem;
  }
  h1 {
    font-size: map-get($map: $font-size, $key: sub-heading);
    font-weight: map-get($font-weight, heading);
  }
  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.title-text {
  font-size: map-get($map: $font-size, $key: sub-heading);
  font-weight: map-get($map: $font-weight, $key: heading);
}

.limitations-card__header {
  h1 {
    text-align: center;
    padding-bottom: 1rem;
  }
  p {
    padding: 0 1rem 2rem 2rem;
  }
}

.limitations-card {
  background-color: white;
  border: 1px solid white;
  border-radius: $container-border-radius;
  padding: 2rem 3rem;
  margin-bottom: 1rem;
}
.card-heading img {
  width: 3rem;
}
.card-heading img,
.card-heading h3 {
  display: inline;
  vertical-align: middle;
}

.card-heading {
  padding-bottom: 2rem;
}
