@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat&display=swap");
.hidden {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
  font-weight: 400;
}

body {
  background-color: rgba(190, 231, 247, 0.2);
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-image: linear-gradient(to right, white 30%, rgba(0, 0, 248, 0.3));
  border: 2px solid white;
  border-radius: 0 0 5% 5%;
  padding: 3rem 1rem 12rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 0 0 25px 25px;
}
.main-header img {
  padding-bottom: 2rem;
  width: 3rem;
}

.main-header__form-header {
  font-weight: 600;
}

.main-header__title {
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 2rem;
  width: 80%;
}

.main-header__content {
  font-size: 1.2rem;
}

.main-header__form--container {
  border: 2px solid white;
  border-radius: 25px;
  position: relative;
  bottom: 3rem;
  background-color: white;
  padding: 4rem;
  padding-bottom: 6rem;
  width: 95%;
  margin: 0 auto;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-header__form--container button {
  display: inline-block;
  text-align: center;
  margin-top: 1rem;
  background-color: blue;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px black;
}
.main-header__form--container button:active,
.main-header__form--container button:hover {
  background-color: white;
  color: blue;
}

.main-header__results--button {
  text-align: center;
}

form .main-header__form--measurement {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.main-header__form--input-label {
  display: inline-block;
  color: blue;
  font-weight: 600;
}

.metric label,
.imperial label {
  font-weight: 600;
}

.main-form__height label,
.main-form__weight label {
  display: block;
  color: #999999;
  font-size: 0.84rem;
}

.main-form__height input,
.main-form__weight input {
  outline: none;
  border: none;
  padding: 0.5rem;
  font-weight: 600;
}

.main-form__input-outline {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.main-header__form-header {
  padding-bottom: 1rem;
}

.main-header__results--content {
  color: white;
  background-color: blue;
  border-radius: 25px;
  padding: 1rem;
  margin-top: 1rem;
}

.main-header__results--title,
.main-header__results--answer,
.main-header__results--explanation {
  margin: 0.5rem auto;
}

.results__section-img img {
  display: block;
  width: 28rem;
  margin: 5rem auto;
}

.article-text {
  color: #999999;
}

.results__content {
  padding: 0 2rem 3rem 1rem;
}
.results__content h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1rem 0;
}

.recommendations {
  margin: 1rem;
}

.recommendations__container {
  padding-bottom: 2rem;
}
.recommendations__container img {
  margin-bottom: 1rem;
}
.recommendations__container h1 {
  font-size: 1.6rem;
  font-weight: 600;
}
.recommendations__container p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.title-text {
  font-size: 1.6rem;
  font-weight: 600;
}

.limitations-card__header h1 {
  text-align: center;
  padding-bottom: 1rem;
}
.limitations-card__header p {
  padding: 0 1rem 2rem 2rem;
}

.limitations-card {
  background-color: white;
  border: 1px solid white;
  border-radius: 25px;
  padding: 2rem 3rem;
  margin-bottom: 1rem;
}

.card-heading img {
  width: 3rem;
}

.card-heading img,
.card-heading h3 {
  display: inline;
  vertical-align: middle;
}

.card-heading {
  padding-bottom: 2rem;
}
